.button-container {
    display: flex;
    justify-content: center; /* Centra los botones horizontalmente */
    align-items: center; /* Centra los botones verticalmente */
    height: 100vh; /* Hace que el contenedor tenga la altura completa de la ventana */
    flex-direction: column; /* Coloca los botones en una columna */
    margin: 5px 5px;
} 

.agrandarBoton { 
    font-size: 50px;  /* Cambia el tamanio del texto */
    padding: 15px 30px; /* Aumenta el tamanio del padding */
    margin: 20px;
    background-color: black; /* Color de fondo */
    color: white;    /* Color del texto */
}

body {
    background-color: #f8f9fa;
}

.centrarContenido .btn {
    margin: 10px;
}
